<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/add.css"/>
	</head>
	<body>
		<div id="app">
			<div class="header">
				<span>修改快递员</span>
			</div>
			<div class="content">
				<table>	
					<tr>
						<td class="text-right">手机号码</td><td class="content_right"><input class="input inline-input" placeholder="请输入手机号码" id="sysPhone"> <span class="btn btn-info" id="find">立即查找</span></td>
					</tr>
				</table>
			</div>
			
			
			<div class="header">
				<span>查找信息如下</span>
			</div>
			<div class="content">
				<table>
					<tr>
						<td class="text-right">姓名</td><td class="content_right"><input class="input" placeholder="请输入姓名"></td>
					</tr>
					<tr>
						<td class="text-right">手机号码</td><td class="content_right"><input id="check_sysPhone" class="input" placeholder="请输入手机号码"></td>
					</tr>
					<tr>
						<td class="text-right">身份证号码</td><td class="content_right"><input id="check_idNumber" class="input" placeholder="请输入身份证号码"></td>
					</tr>
					<tr>
						<td class="text-right">密码</td><td class="content_right"><input class="input" placeholder="请输入密码"></td>
					</tr>
					<tr>
						<td></td><td class="content_right"><span class="btn btn-info" id="update">立即修改</span> <span class="btn" id="cancel">取消</span> </td>
					</tr>
				</table>
			</div>
		</div>
	</body>
	<script src="/qrcode/jquery2.1.4.js"></script>
	<script src="/layer/layer.js"></script>
	<script>
		// 查询快递员手机格式是否正确或重复
		function checkSysPhoneFormat() {
			// 输入框不为空
			if ($("#sysPhone").val() === "") {
				layer.tips("输入框不能为空", "#sysPhone", {tipsMore:true,tips:2});
				$("#sysPhone").css("border-color","red");
				return null;
			} else {
				var tmp = $("#sysPhone").val();
				// 正则检查输入手机格式是否有误
				var pat = new RegExp("^[0-9]{11}$");
				if (!pat.test(tmp)) {
					layer.tips("此处只能输入11位纯数字", "#sysPhone", {tipsMore: true});
					$("#sysPhone").css("border-color", "red");
					return null;
				}
			}
			$("#sysPhone").css("border-color", "#E5E6E7");
			return tmp;
		}

		// 正则检查输入姓名字符数量是否有误
		function checkCname() {
			// 输入框不为空
			if ($("input:eq(1)").val() === "") {
				layer.tips("输入框不能为空", "input:eq(1)", {tipsMore:true,tips:2});
				$("input:eq(1)").css("border-color","red");
				return true;
			} else {
				let tmp = $("input:eq(1)").val();
				if (tmp.length > 10) {
					layer.tips("姓名字符数量最多10个", "input:eq(1)", {tipsMore: true});
					$("input:eq(1)").css("borderColor", "red");
					return true;
				}
			}
			$("input:eq(1)").css("border-color","#E5E6E7");
			return false;
		}

		// 手机号码是否与别人重复
		function checkSysPhone(sysPhone) {
			// 输入框不为空
			if ($("input:eq(2)").val() === "") {
				layer.tips("输入框不能为空", "input:eq(2)", {tipsMore:true,tips:2});
				$("input:eq(2)").css("border-color","red");
				return true;
			} else {
				var tmp = $("input:eq(2)").val();
				// 正则检查输入手机格式是否有误
				var pat = new RegExp("^[0-9]{11}$");
				if (!pat.test(tmp)) {
					layer.tips("此处只能输入11位纯数字", "input:eq(2)", {tipsMore: true});
					$("input:eq(2)").css("border-color", "red");
					return true;
				}
				// 可以跟原来的号码相同，但不可以跟其它courier相同
				if (tmp !== sysPhone) {
					$.post("/courier/check.do", {
						type: "sysPhone",
						content: tmp
					}, function (data) {
						if (data.status != 0) {
							layer.tips("手机号码已存在", "input:eq(2)", {tipsMore: true});
							$("#input:eq(2)").css("border-color", "red");
							return true;
						}
					});
				}
			}
			$("input:eq(2)").css("border-color","#E5E6E7");
			return false;
		}

		// 身份证号码是否与别人重复
		function checkIDNumber(idNumber) {
			// 输入框不为空
			if ($("input:eq(3)").val() === "") {
				layer.tips("输入框不能为空", "input:eq(3)", {tipsMore:true,tips:2});
				$("input:eq(3)").css("border-color","red");
				return true;
			} else {
				var tmp = $("input:eq(3)").val();
				// 正则检查输入身份证号码格式是否有误
				var pat = new RegExp("^[0-9]{17}[X0-9]$");
				if (!pat.test(tmp)) {
					layer.tips("此处只能输入18位数字的身份证号码，容许末尾为“X”", "input:eq(3)", {tipsMore: true});
					$("input:eq(3)").css("border-color", "red");
					return true;
				}
				// 可以跟原来的号码相同，但不可以跟其它courier相同
				if (tmp !== idNumber) {
					$.post("/courier/check.do", {
						type: "idNumber",
						content: tmp
					}, function (data) {
						if (data.status != 0) {
							layer.tips("身份证号码已存在", "input:eq(3)", {tipsMore: true});
							$("input:eq(3)").css("border-color", "red");
							return true;
						}
					});
				}
			}
			$("input:eq(3)").css("border-color","#E5E6E7");
			return false;
		}

		// 正则检查输入密码格式是否有误
		function checkPassword() {
			// 输入框不为空
			if ($("input:eq(4)").val() === "") {
				layer.tips("输入框不能为空", "input:eq(4)", {tipsMore:true,tips:2});
				$("input:eq(4)").css("border-color","red");
				return true;
			} else {
				let tmp = $("input:eq(4)").val();
				if (tmp !== "") {
					var pat = /^[A-Za-z0-9]{8,16}$/;
					if (!pat.test(tmp)) {
						layer.tips("密码只接受8-16为的大小写英文字母及数字", "input:eq(4)", {tipsMore: true});
						$("input:eq(4)").css("borderColor", "red");
						return true;
					}
				}
			}
			$("input:eq(4)").css("border-color", "#E5E6E7");
			return false;
		}

		$(function () {
			let courierId = null;
			$(".header:eq(1), .content:eq(1)").hide();

			$("#sysPhone").focusout(checkSysPhoneFormat);

			var sysPhone = null;
			var idNumber = null;

			$("#find").click(function () {
				let windowId = layer.load();
				let sysPhone_tmp = checkSysPhoneFormat();
				if (sysPhone_tmp == null) {
					layer.close(windowId);
					return;
				}
				// 正则检查输入手机格式是否有
				$.getJSON("/courier/find.do",{sysPhone:sysPhone_tmp},function (data) {
					layer.close(windowId);
					layer.msg(data.result);
					if (data.status == 0) {
						$(".header:eq(1), .content:eq(1)").fadeIn(1000);
						courierId = data.data.id;
						$("input:eq(1)").val(data.data.cname);
						sysPhone = data.data.sysPhone;
						$("input:eq(2)").val(sysPhone);
						idNumber = data.data.idNumber
						$("input:eq(3)").val(idNumber);
						$("input:eq(4)").val(data.data.password);
					} else {
						$(".header:eq(1), .content:eq(1)").hide();
						$("#sysPhone").val("");
						$("input").css("border-color", "#E5E6E7");
					}
				});
			});

			$("input:eq(1)").focusout(checkCname);
			$("input:eq(2)").focusout(function () {
				checkSysPhone(sysPhone)
			});
			$("input:eq(3)").focusout(function () {
				checkIDNumber(idNumber)
			});
			$("input:eq(4)").focusout(checkPassword);

			$("#update").click(function () {
				let windowId = layer.load();
				// 检查输入信息的格式及数据库中是否已经存在
				// cname
				let flag = checkCname();
				// sysPhone
				flag = checkSysPhone(sysPhone) || flag;
				// idNumber
				flag = checkIDNumber(idNumber) || flag;
				// password
				flag = checkPassword() || flag;
				if (flag) {
					layer.close(windowId);
					layer.msg("请输入正确格式后再提交！！")
					return;
				}
				let cname_tmp = $("input:eq(1)").val();
				let sysPhone_tmp = $("input:eq(2)").val();
				let idNumber_tmp = $("input:eq(3)").val();
				let password_tmp = $("input:eq(4)").val();
				$.getJSON("/courier/update.do",{
					id:courierId,
					cname:cname_tmp,
					sysPhone:sysPhone_tmp,
					idNumber:idNumber_tmp,
					password:password_tmp
				},function (data) {
					layer.close(windowId);
					layer.msg(data.result);
					if (data.status == 0) {
						// 修改成功
						$(".header:eq(1), .content:eq(1)").hide();
						$("#sysPhone").val("");
					}
				});
			});

			$("#cancel").click(function () {
				$(".header:eq(1), .content:eq(1)").hide();
				$("#sysPhone").val("");
				$("input").css("border-color", "#E5E6E7");
			});
		});
	</script>
</html>
